*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.box{
    background-color: rgb(183, 8, 183);
    padding-left: 100px;
    padding-right: 100px;
}
.row1{
    display: flex;
    width: 100%;

}
.col1, .col2{
    width: 50%;
    
}
.profilename{
    color: rgb(125, 168, 54);
}
.nav h5{
    color: rgb(184, 183, 184);
}
.nav{
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
    
    
}
.row2{
    display: flex;
    width: 100%;
}

.col3 , .col4{
    width: 50%;
}
.col3 p{
    width: 50%;
    color: aquamarine;
    padding-top: 20px;
}
.col3 h2{
    padding-top: 15px;
    color: rgb(20, 187, 156);
}
.col4 img{
    width: 70%;
    padding-left: 170px;
    padding-top: 20px;
}
.row3{
    display: flex;
    width: 100%;
}
.col5,.col6{
    width: 50%;
    display: flex;
}
.col5 img{
    width: 30%;
    margin-top: 60px;
}

